<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739890766491-7bnf0cuk2l82145j86maislhla4toj0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739890766491-7bnf0cuk2l82145j86maislhla4toj0k</string>
	<key>API_KEY</key>
	<string>AIzaSyB5KTMrOTpOVkSEEDOIIcz1Qmto6E17VQU</string>
	<key>GCM_SENDER_ID</key>
	<string>739890766491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tahaturan.testone.InstagramCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagtamclonefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>instagtamclonefirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739890766491:ios:ebe30c4ee7794fe26d1c3e</string>
</dict>
</plist>